.preview-container {
  width: 70%;
  margin: 0 auto;
  color: #15372c;
  max-width: 1440px;
}

.ref-container {
  padding: 2rem;
}

.preview-container__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview-container__main > div {
  margin-right: 3rem;
}

.preview-container h2,
.preview-container h3,
.preview-container p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.preview-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-container__header__right {
  align-self: flex-start;
  text-align: end;
}

.preview-container__skills-container ul {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  padding: 0;
}

.preview-container__skills-container li {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
}

.preview-container__qualifications-section,
.preview-container__experiences-section {
  margin-bottom: 2rem;
}

.preview-container__button {
  background-color: #008561;
  color: white;
  border: none;
  padding: 1rem;
  width: 80%;
  max-width: 767px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.preview-container__button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .preview-container {
    width: 90%;
  }

  .preview-container h2 {
    font-size: 1.55;
  }

  .preview-container p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
