@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Shippori+Mincho+B1:wght@400;700&display=swap');

body, html {
  box-sizing: border-box;
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button, 
input {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  outline: none;
}

header {
  width: 100%;
  background-color: #008561;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shippori Mincho B1', 'serif';
}

nav > button {
  border: 2px solid white;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

/* ====================================Base Elements Start=================================== */

.heading {
  margin-left: 15px;
}

hr {
  height: 1px;
  margin-left: 15px;
  background-color: #15372c;
  border: none;
}

label {
  font-size: 20px;
}

/* ====================================Base Elements End=================================== */

.information span {
  margin-left: 15px;
  display: block;
}

.information button {
  margin-left: 15px;
  margin-top: 10px;
  padding: 15px;
  /* background-color: #008561; */
  border: none;
  color: white;
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.information__inputs {
  display: flex;
  flex-wrap: wrap;
}

.information__inputs input {
  padding: 20px;
  border: 1px solid #ccc;
  width: 90%;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

.information__inputs input:focus {
  border: 1px solid #15372c;
  background-color: #00856225;
}

.information__inputs .form-control {
  width: 45%;
  margin: 15px;
}

.main-form {
  width: 70%;
  margin: 0 auto;
  color: #15372c;
}

.main-form__button {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: none;
}

.information__actions__delete-btn {
  background-color: tomato;
}

.information__actions__add-btn {
  background-color: #008561;
}


@media(max-width: 768px) {
  .information__inputs .form-control {
    width: 100%;
  }

  .information button,
  .main-form__button {
    width: 95%;
  }


  .main-form {
    width: 90%;
  }
}





/* 

 primary_color: #15372c;  dark 
 secondary_color: #008561;  light

*/